{% load static %}
<script type="text/javascript" src="{% static 'files/bower_components/jquery/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'files/bower_components/jquery-ui/js/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'files/bower_components/popper.js/js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'files/bower_components/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'files/assets/pages/waves/js/waves.min.js' %}"></script>
<script type="text/javascript" src="{% static 'files/bower_components/jquery-slimscroll/js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'files/assets/pages/widget/amchart/amcharts.js' %}"></script>
<script src="{% static 'files/assets/pages/widget/amchart/serial.js' %}"></script>
<script src="{% static 'files/assets/pages/widget/amchart/light.js' %}"></script>
<script src="{% static 'files/assets/js/pcoded.min.js' %}"></script>
<script src="{% static 'files/assets/js/vertical/vertical-layout.min.js' %}"></script>
<script type="text/javascript" src="{% static 'files/assets/pages/dashboard/custom-dashboard.min.js' %}"></script>
<script type="text/javascript" src="{% static 'files/assets/js/script.min.js' %}"></script>
<!--<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.flot/0.8.3/jquery.flot.min.js"></script>-->