{% load static %}
<!-- App favicon -->
<link rel="shortcut icon" href="{% static 'new_design/assets/images/adani_title.png' %}">
<!-- plugin css -->
<link href="{% static 'new_design/assets/libs/jsvectormap/css/jsvectormap.min.css' %}" rel="stylesheet" type="text/css" />
<!-- Layout Js -->
<script src="{% static 'new_design/assets/js/layout.js' %}"></script>
<!-- Bootstrap Css -->
<link href="{% static 'new_design/assets/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
<!-- Icons Css -->
<link href="{% static 'new_design/assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
<!-- App Css-->
<link href="{% static 'new_design/assets/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
<link href="{% static 'new_design/assets/css/custom.css' %}" rel="stylesheet" type="text/css" />
 <!-- toastr css -->
<link rel="stylesheet" type="text/css" href="{% static 'new_design/assets/toastr/css/toastr.css' %}" media="all">
