{% load static %}
<!-- JAVASCRIPT -->
<script src="{% static 'new_design/assets/libs/jquery/jquery.min.js' %}"></script>
<script src="{% static 'new_design/assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'new_design/assets/libs/metismenu/metisMenu.min.js' %}"></script>
<script src="{% static 'new_design/assets/libs/simplebar/simplebar.min.js' %}"></script>
<script src="{% static 'new_design/assets/libs/node-waves/waves.min.js' %}"></script>

<!-- Icon -->
<script src="https://unicons.iconscout.com/release/v2.0.1/script/monochrome/bundle.js"></script>


<!-- apexcharts -->
<script src="{% static 'new_design/assets/libs/apexcharts/apexcharts.min.js' %}"></script>

<!-- Vector map-->
<script src="{% static 'new_design/assets/libs/jsvectormap/js/jsvectormap.min.js' %}"></script>
<script src="{% static 'new_design/assets/libs/jsvectormap/maps/world-merc.js' %}"></script>

<script src="{% static 'new_design/assets/js/pages/dashboard.init.js' %}"></script>

<!-- App js -->
<script src="{% static 'new_design/assets/js/app.js' %}"></script>

<!-- Custom js for toaster -->
<script type="text/javascript" src="{% static 'new_design/assets/toastr/js/toastr.min.js' %}"></script>

