{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Adani | HR Sampark</title>
      <!--[if lt IE 10]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="description" content="Adani" />
      <meta name="keywords" content="Adani" />
      <meta name="author" content="adani" />

      <link rel="icon" href="{% static 'assets/img/hr_sampark_logo.jpg' %}" type="image/x-icon">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Quicksand:500,700" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{% static 'files/bower_components/bootstrap/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'files/assets/pages/waves/css/waves.min.css' %}" type="text/css" media="all">
      <link rel="stylesheet" type="text/css" href="{% static 'files/assets/icon/feather/css/feather.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'files/assets/icon/themify-icons/themify-icons.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'files/assets/icon/icofont/css/icofont.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'files/assets/icon/font-awesome/css/font-awesome.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'files/assets/css/style.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'files/assets/css/pages.css' %}">
      <style> 
            .pcoded-content{
               background-image: url('/static/files/assets/images/Goodness.jpg')!important;
               background-repeat: no-repeat!important;
               background-attachment: fixed!important;
               height: 1200px!important;
               background-size: cover!important;

            }
            #mybody{
               background-image: url('/static/files/assets/images/Goodness.jpg')!important;
               background-repeat: no-repeat!important;
               background-attachment: fixed!important;
               background-size: cover!important;
               height: auto!important;
            }
      </style> 
   </head>
   <body id="mybody">
      <div class="theme-loader">
         <div class="loader-track">
            <div class="preloader-wrapper">
               <div class="spinner-layer spinner-blue">
                  <div class="circle-clipper left">
                     <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                     <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                     <div class="circle"></div>
                  </div>
               </div>
               <div class="spinner-layer spinner-red">
                  <div class="circle-clipper left">
                     <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                     <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                     <div class="circle"></div>
                  </div>
               </div>
               <div class="spinner-layer spinner-yellow">
                  <div class="circle-clipper left">
                     <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                     <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                     <div class="circle"></div>
                  </div>
               </div>
               <div class="spinner-layer spinner-green">
                  <div class="circle-clipper left">
                     <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                     <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                     <div class="circle"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <section class="login-block">
                   {% for m in messages  %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
               <strong></strong> {{m}}
               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>

             </div>
             {% endfor %}
         <div class="container-fluid">
            <div class="row">
               <div class="col-sm-12">
                  <form class="md-float-material form-material" method="POST" >
                     {% csrf_token %}
                    
                     <div class="auth-box card">
                        <div class="card-block">
                           <div class="row m-b-20">
                              <div class="col-md-12">
                                 <h3 class="text-center txt-primary">Sign In</h3>
                              </div>
                           </div>
                           <p class="text-muted text-center p-b-5">Sign in with your regular account</p>
                           <div class="form-group form-primary">
                              <input type="email" name="email" class="form-control" required>
                              <span class="form-bar"></span>
                              <label class="float-label">Email</label>
                           </div>
                           <div class="form-group form-primary">
                              <input type="password" name="password" class="form-control" required  >
                              <span class="form-bar"></span>
                              <label class="float-label">Password</label>
                           </div>

                           <div class="row m-t-30">
                              <div class="col-md-12">
                                 <button type="submit"  class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">LOGIN</button>
                              </div>
                           </div>
                          </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
         </div>
      </section>
      <!--[if lt IE 10]>
      <div class="ie-warning">
         <h1>Warning!!</h1>
         <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
         <div class="iew-container">
            <ul class="iew-download">
               <li>
                  <a href="http://www.google.com/chrome/">
                     <img src="/static/files/assets/images/browser/chrome.png" alt="Chrome">
                     <div>Chrome</div>
                  </a>
               </li>
               <li>
               </li>
               <li>
                  <a href="http://www.opera.com">
                     <img src="/static/files/assets/images/browser/opera.png" alt="Opera">
                     <div>Opera</div>
                  </a>
               </li>
               <li>
                  <a href="https://www.apple.com/safari/">
                     <img src="/static/files/assets/images/browser/safari.png" alt="Safari">
                     <div>Safari</div>
                  </a>
               </li>
               <li>
                  <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                     <img src="/static/files/assets/images/browser/ie.png" alt="">
                     <div>IE (9 & above)</div>
                  </a>
               </li>
            </ul>
         </div>
         <p>Sorry for the inconvenience!</p>
      </div>
      <![endif]-->
      <script type="text/javascript" src="{% static 'files/bower_components/jquery/js/jquery.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'files/bower_components/jquery-ui/js/jquery-ui.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'files/bower_components/popper.js/js/popper.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'files/bower_components/bootstrap/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'files/assets/pages/waves/js/waves.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'files/bower_components/jquery-slimscroll/js/jquery.slimscroll.js' %}"></script>
      <script type="text/javascript" src="{% static 'files/bower_components/modernizr/js/modernizr.js' %}"></script>
      <script type="text/javascript" src="{% static 'files/bower_components/modernizr/js/css-scrollbars.js' %}"></script>
      <script type="text/javascript" src="{% static 'files/assets/js/common-pages.js' %}"></script>
   </body>
   <!-- Mirrored from demo.dashboardpack.com/admindek-html/default/auth-sign-in-social.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 27 Jan 2023 16:22:49 GMT -->
</html>