<!DOCTYPE html>
<html lang="en">
<head>
  <title>Adani | Contact Center App </title>
  {% include 'common/header.html' %}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<style>
/* rounded corners */
.rounded {
    --radius: 5px;
    --border-color: black;
    border: 1px solid var(--border-color);
    border-radius: var(--radius);
    border-spacing: 0;
}
.rounded tr:first-child>:first-child { border-top-left-radius: var(--radius); }
.rounded tr:first-child>:last-child { border-top-right-radius: var(--radius); }
.rounded tr:last-child>:first-child { border-bottom-left-radius: var(--radius); }
.rounded tr:last-child>:last-child { border-bottom-right-radius: var(--radius); }

/* design */
.rounded th, .rounded td {
    padding: .2rem;
    /* border: 1px solid var(--border-color); */
    box-shadow: -1px -1px var(--border-color);
}
.rounded th {
    background: hsl(212 37% 48% / 1);
}
</style>
<!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body id="mybody">
  {% include 'common/nav_bar.html' %}
  <div class="pcoded-main-container">
        <div class="pcoded-content">
           {% block body %}
           <div class="pcoded-inner-content">
              <div class="main-body">
                 <div class="page-wrapper">
                    <div class="page-body">
                       <br><br><br>
                       <div clas="row">
                         {% comment %} <h6 class="heads"> Collecting Employee Details</h6> {% endcomment %}
                       </div>
                       <h6 class="heads"> Employee History</h6>
                       <div class="col-xl-12">
                         <div class="card proj-progress-card">
                            <div class="card-block" style="border-top: 2px solid #3498db;">
                               <div class="row" id="content_row1">
                                   <div class="col-md-12">
                                       <form method="get">
<!--                                           <label for="emp">Search </label>-->
                                           <input type="text" tabindex="1" id="search_data" name="search_data" placeholder="Search Employee Data"
                                                  style="width: 600px" required/>
                                           <input type="Submit" class="mybtn" value="Search">
                                           <a class="custom_button_link" href="{% url 'review:employee_add_view' %}">Add Employee</a>

                                       </form>

                                       <br>
                                       <table id="example" class="rounded">
                                           <thead style="color: white;font-size: small;">
                                               <tr>
<!--                                                   <th>Id</th>-->
                                                   <th>Name</th>
                                                   <th>Employee No</th>
                                                   <th>Employee Progress</th>
                                                   <th>Action</th>
                                               </tr>
                                           </thead>
                                           <tbody>
                                           {% for employee_obj in all_employees %}
                                               <tr>
<!--                                                   <td>{{ employee_obj.id }}</a></td>-->
                                                   <td><a href="{% url 'review:employee_review_detail_view' employee_obj.id %}">{{ employee_obj.EmployeeName }}</a></td>
                                                   <td>{{ employee_obj.EmployeeNumber }}</td>
                                                   <td>
                                                       {% if employee_obj.get_employee_review_draft_exists %}
                                                       <div class="w3-light-grey w3-round-xlarge">
                                                           <div class="w3-container w3-blue w3-round-xlarge"
                                                                style="width:{{ employee_obj.get_employee_progress }}%;background-color: #4d77a8!important;">
                                                               {{ employee_obj.get_employee_progress }}%
                                                           </div>
                                                       </div>
                                                       {% else %}
                                                        -
                                                       {% endif %}
                                                   </td>
                                                   <td><a class="custom_button_link" href="{% url 'review:employee_edit_view' employee_obj.id %}">Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                                               </tr>
                                           {% endfor %}
                                           </tbody>
                                       </table>
                                   </div>
                                   <br>
                                   <div class="col-md-12" style="float:right;">
                                       <div class="custom_float_right">
                                        {% include 'common/pagination.html' %}
                                       </div>
                                   </div>
                               </div>
                            </div>
                         </div>
                       </div>
                    </div>
                 </div>
                 <br><br>
              </div>
           </div>
        </div>
        <div class="footer">
            <span> Powered By A-Tech </span>
        </div>
     {% endblock body %}
  </div>
  {% include 'common/footer.html' %}
  {% block script %}
  <script type="text/javascript" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script>
      $('#example').DataTable({
         "paging": false,
         "searching": false,
         "responsive": false,
         "info": false,
         "ordering": false
      });
  </script>
  {% endblock script %}
</body>
</html>