{% load static %}
<!-- App favicon -->
<link rel="shortcut icon" href="{% static 'new_design/login/images/adani_title.png' %}">
<!-- Layout Js -->
<script src="{% static 'new_design/login/js/layout.js' %}"></script>
<!-- Bootstrap Css -->
<link href="{% static 'new_design/login/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
<!-- Icons Css -->
<link href="{% static 'new_design/login/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
<!-- App Css-->
<link href="{% static 'new_design/login/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
 <!-- toastr css -->
<link rel="stylesheet" type="text/css" href="{% static 'new_design/login/toastr/css/toastr.css' %}" media="all">
