{% load static %}
<!-- JAVASCRIPT -->
<!-- js -->

<script src="{% static 'new_design/login/js/jquery.min.js' %}"></script>
<script src="{% static 'new_design/login/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'new_design/login/js/metisMenu.min.js' %}"></script>
<script src="{% static 'new_design/login/js/simplebar.min.js' %}"></script>
<script src="{% static 'new_design/login/js/waves.min.js' %}"></script>
<!-- Icon -->

<script src="https://unicons.iconscout.com/release/v2.0.1/script/monochrome/bundle.js"></script>
<script src="{% static 'new_design/login/js/app.js' %}"></script>
<!-- Custom js for toaster -->
<script type="text/javascript" src="{% static 'new_design/login/toastr/js/toastr.min.js' %}"></script>